apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}
data:
  application.yaml: |
    server:
      port: {{ .Values.container.port }}

    spring:
      datasource:
        url: {{ .Values.config.datasource.url }}
        username: {{ .Values.config.datasource.username }}

    currency:
      service:
        url: {{ .Values.config.currency.url }}

    management:
      endpoints:
        web:
          exposure:
            include: {{ .Values.management.exposure | quote }}
      endpoint:
        health:
          probes:
            enabled: {{ .Values.management.probesEnabled }}
          show-details: {{ .Values.management.showDetails }}
