services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: muffin_wallet
      POSTGRES_USER: muffin-wallet
      POSTGRES_PASSWORD: muffin-wallet
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U muffin-wallet -d muffin_wallet"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  pg_data:
