deploymentMode: SingleBinary

loki:
  auth_enabled: false
  storage:
    type: filesystem
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules
  useTestSchema: true
  commonConfig:
    replication_factor: 1

singleBinary:
  replicas: 1

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

service:
  type: ClusterIP
  port: 3100

resultsCache:
  enabled: false

chunksCache:
  enabled: false
