replicaCount: 1

image:
  repository: badbebrik/muffin-currency
  pullPolicy: IfNotPresent
  tag: "dev"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8083
  targetPort: 8080

probes:
  liveness:
    enabled: true
    path: /healthz
    initialDelaySeconds: 5
    periodSeconds: 10
  readiness:
    enabled: true
    path: /readyz
    initialDelaySeconds: 2
    periodSeconds: 5

tracing:
  zipkinEndpoint: "http://zipkin.monitoring.svc.cluster.local:9411/api/v2/spans"
 
