apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "muffin-wallet.fullname" . }}
data:
  application.yaml: |
    server:
      port: {{ .Values.container.port }}

    spring:
      application:
        name: muffin-wallet
      datasource:
        url: {{ .Values.config.datasource.url }}
        username: {{ .Values.config.datasource.username }}

    logging:
      pattern:
        level: "%5p [%X{traceId:-}-%X{spanId:-}]"

    currency:
      service:
        url: {{ .Values.config.currency.url }}

    management:
      tracing:
        enabled: true
        sampling:
          probability: 1.0
        propagation:
          type: b3_multi
      endpoints:
        web:
          exposure:
            include: {{ .Values.management.exposure | quote }}
      endpoint:
        health:
          probes:
            enabled: {{ .Values.management.probesEnabled }}
          show-details: {{ .Values.management.showDetails }}
      zipkin:
        tracing:
          enabled: true
          endpoint: {{ .Values.tracing.zipkinEndpoint | quote }}
