[req]
distinguished_name = dn
req_extensions = req_ext
prompt = no

[dn]
CN = foo.bar.baz

[req_ext]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = foo.bar.baz
